{% extends "base.html" %}

{% block title %} Welcome to Address book Flask App {% endblock %}

{% block content %}

<div id="content_div" class="content_div">
    <h1> Add a new contact</h1>
    <form method="post">
        <p>
            <table>
                <tr><td><label for="title"> Title: </label></td><td><input type="text" name="title"></td></tr>
                <tr><td><label for="firstname"> Firstname: </label></td><td><input type="text" name="firstname"></td></tr>
                <tr><td><label for="surname"> Surname:</label></td><td><input type="text" name="surname"></td></tr>
                <tr><td><label for="email"> Email:</label></td><td><input type="text" name="email"></td></tr>
                <tr><td><label for="telephone"> Telephone:</label></td><td><input type="text" name="telephone"></td></tr>
                <tr><td><label for="address1"> Address1:</label></td><td><input type="text" name="address1"></td></tr>
                <tr><td><label for="address2"> Address2:</label></td><td><input type="text" name="address2"></td></tr>
                <tr><td><label for="address3"> Address3:</label></td><td><input type="text" name="address3"></td></tr>
                <tr><td><label for="city"> City:</label></td><td><input type="text" name="city"></td></tr>
                <tr><td><label for="zip"> Zip:</label></td><td><input type="text" name="zip"></td></tr>
                <tr><td><label for="state"> State:</label></td><td><input type="text" name="state"></td></tr>
                <tr><td><label for="country"> Country:</label></td><td><input type="text" name="country"></td></tr>
            </table>
        </p>
        <button type="submit">Create</button>
    </form> 
 </div>
 <div id="side_div" class="side_div">
    <h2>View Contacts</h2>
     <p>
        <ul>
         {% for contact in contacts %}
           <li>
             <a href="{{ url_for('contact_view', index=loop.index0) }}">
               {{ contact.fields["first_name"] }} {{ contact.fields["last_name"] }} 
             
             </a>
           </li>
         {% endfor %}
       </ul>
     </p>
</div>
{% endblock %}