<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
  <body>
    <div id="main_div" class="main_div">
      <div class="banner_div">
        <h1>Address Book</h1>
        <p>
          This is the demo application for the learning the Flask framework
         
        </p>
      </div>
      {% block content %}
  
      {% endblock %}
      <div id="footer_div" class="foteer_div">
    
      </div>
    </div>  
  </body>
</html>