{% extends "base.html" %}

{% block title %} Welcome to Address book Flask App {% endblock %}

{% block content %}
<div id="side_div" class="side_div">
    <h2>View Contacts</h2>
     <p>
        <ul>
         {% for contact in contacts %}
           <li>
             <a href="{{ url_for('contact_view', index=loop.index0) }}">
               {{ contact.fields["first_name"] }} {{ contact.fields["last_name"] }} 
             
             </a>
           </li>
         {% endfor %}
       </ul>
     </p>
   </div>
<div id="content_div" class="content_div">
    <h1>{{ contact.fields.first_name }} {{ contact.fields.last_name }} </h1>

    Title: {{ contact.fields.title }} <br>
    Firstname: {{ contact.fields.first_name }} <br>
    Surame: {{ contact.fields.last_name }} <br>
    Phone: {{ contact.fields.phone }} <br>
    Email: {{ contact.fields.email }} <br>
    Address1: {{ contact.fields.address1 }} <br>
    Address2: {{ contact.fields.address2 }} <br>
    Address3: {{ contact.fields.address3 }} <br>
    <p> 
      <button>
        {% if index > 0 %}
        
            <a href="{{ url_for('contact_view', index=index - 1) }}">
              Previous Contact
            </a>
          
          {% else %}
          <a href="{{ url_for('contact_view', index=max_index ) }}">
              Skip to End
          </a>   
        {% endif %}
        </button>
        <button>
        
          {% if index < max_index %}
            <a href="{{ url_for('contact_view', index=index + 1) }}">
                Next Contact
            </a>
        {% else %}
            <a href="{{ url_for('contact_view', index=0 ) }}">
                Start Over
            </a>           
        {% endif %}
        </button>
    </p>
    <button>
       <a href="{{ url_for('remove_contact', index=index) }}"> Remove this Contact </a>
    </button>
 </div>
{% endblock %}