{% extends "base.html" %}

{% block title %} Welcome to Address book Flask App {% endblock %}

{% block content %}
   <form method="post">
        <p>
            <table>
                <tr><td><label for="title"> Title: </label></td><td><input type="text" name="title" value="{{ contact['title'] if contact else '' }}"></td></tr>
                <tr><td><label for="firstname"> Firstname: </label></td><td><input type="text" name="firstname" value="{{ contact['first_name'] if contact else '' }}"></td></tr>
                <tr><td><label for="surname"> Surname:</label></td><td><input type="text" name="surname" value="{{ contact['last_name'] if contact else '' }}"></td></tr>
                <tr><td><label for="email"> Email:</label></td><td><input type="text" name="email" value="{{ contact['email'] if contact else '' }}"></td></tr>
                <tr><td><label for="phone"> Telephone:</label></td><td><input type="text" name="phone" value="{{ contact['phone'] if contact else '' }}"></td></tr>
                <tr><td><label for="address1"> Address1:</label></td><td><input type="text" name="address1" value="{{ contact['address1'] if contact else '' }}"></td></tr>
                <tr><td><label for="address2"> Address2:</label></td><td><input type="text" name="address2" value="{{ contact['address2'] if contact else '' }}"></td></tr>
                <tr><td><label for="address3"> Address3:</label></td><td><input type="text" name="address3" value="{{ contact['address3'] if contact else '' }}"></td></tr>
                <tr><td><label for="city"> City:</label></td><td><input type="text" name="city" value="{{ contact['city'] if contact else '' }}"></td></tr>
                <tr><td><label for="zip"> Zip:</label></td><td><input type="text" name="zip" value="{{ contact['zip'] if contact else '' }}"></td></tr>
                <tr><td><label for="state"> State:</label></td><td><input type="text" name="state" value="{{ contact['state'] if contact else '' }}"></td></tr>
                <tr><td><label for="country"> Country:</label></td><td><input type="text" name="country" value="{{ contact['country'] if contact else '' }}"></td></tr>
            </table>
        </p>
        <button type="submit">Update Contact</button>
    </form> 
{% endblock %}