{% extends "base.html" %}

{% block title %} Welcome to Address book Flask App {% endblock %}

{% block content %}
<div id="content_div" class="content_div">
  
  <p><em><b>This application has been written to assist me in my learning journey.</b></em><br></p> 
  <p>The application was written using Python and the Flask Web Framework. The application is hosted by gunicorn with nginx acting as a reverse proxy all within the same image.</p> 
  <p>The application is a simply address book in which contacts can be added or removed from the backend json db.</p>
  <p>Next versions of the application will include splitting out nginx into it's own container, rewritting the application to use a MongoDB backend store</p>
  
    Whilst upskilling on the following technologies:
    <ul>
      <li>Git and GitHub all functionality of the address book application is versioned correctly in git </li><br>
      <li>Python programming, following the course on Codecademy</li><br>
      <li>Docker including image building and pushing to DockerHub </li><br>
      <li>Kubernetes Administration and development</li><br>
    
    </ul>
  </p>
</div>
<div id="side_div" class="side_div">
   <h2>View Contacts</h2>
    <p>
      <a href="{{ url_for('add_contact_route') }}"> Add Contact</a>
      <ul>
        {% if contacts %}
          {% for contact in contacts %}
            <li>
              <a href="{{ url_for('contact_view', contact_id=contact['_id']) }}">
               {{ contact["first_name"] }} {{ contact["last_name"] }} 
              </a>
            </li>
          {% endfor %}
        {% else %}
          <li>No contacts found.</li>
        {% endif %}
      </ul>
    </p>
  </div>

{% endblock %}