{% extends "base.html" %}

{% block title %} Welcome to Address book Flask App {% endblock %}

{% block content %}
<div id="side_div" class="side_div">
</div>
<div id="content_div" class="content_div">
   <P>
    <h2>Remove Contact</h2>
    <h3>{{ contact.first_name }} {{ contact.last_name }}</h3> 
    <h4>Are you Sure</h4>
    <form method="post">
      <button type="submit">Yes</button>
      <button><a href="{{ url_for('home') }}"> No </a></button>
    </form>
  </P> 
  <br>
</div>

{% endblock %}