body {
    font-family: sans-serif;
    color: brown;
    background-color: rgb(241, 237, 235);
}

a:link {
    color: brown;
}
a:visited {
    color: brown;
}

a:hover {
    color: burlywood
}
a:active {
    color: black
}

#banner_div h1 {
    color: beige;
    
}

#content_div {
    padding: 20px;
    float: left;
    width: 50%;
}

#content_div h1 {
    color: brown;
}

#content_div h2 {
    color: brown;
}
#content_div p {
     color: brown;
}

#side_div h1 {
    color: brown;
}
#side_div h2 {
    color: brown; 
}

p {
    text-align: left;
    color: brown;
} 

#main_div {
    width: 70%;
    margin: 0 auto; 
    background: beige; 

}

#banner_div {
    padding: 20px;
    height: 120px;
    background: brown; 
    color: beige; 
}

#side_div {
float: right;
width: 35%;
background-color: beige;
}


#footer_div{
    clear: both;
    padding: 20px;
    color: beige; 
    background: brown;
}